{% extends "polls/dashBase.html" %}

{% block content %}

<form class="form" class="" action="{% url 'polls:modelExecutionPOST' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="modelName">Model Name</label>
      <select name="modelName"  class="form-control " id="exampleInputEmail" aria-describedby="emailHelp">
          <option selected default>Select</option>
          {% for modelChoice in modelChoices %}
            <option value="{{ modelChoice }}">{{ modelChoice }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="bagInterval">Bag Interval (In minutes)</label>
      <select name="bagInterval"  class="form-control" >
          <option selected default>Select</option>
          {% for bagInterval in bagIntervalChoices %}
            <option value="{{ bagInterval }}">{{ bagInterval }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
        <label for="percentageTest">Percentage Test</label>
        <select name="percentageTest" class="form-control" >
            <option selected default>Select</option>
            {% for percentageTest in percentageTestChoices %}
              <option value="{{ percentageTest }}">{{ percentageTest }}</option>
            {% endfor %}
        </select>

    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-user btn-block">
        Execute Model
      </button>
    </div>
  </form>

   <!-- <button>Execute model</button> -->

{% endblock content %}

