<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>{% block title %}Smoking_Cessation{% endblock %}</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="styles/index.processed.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
        <div class="container">
            <a class="navbar-brand" href="/polls">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/polls">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                        {% comment %} <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle"
                            data-toggle="dropdown" id="navbarDropdownMenuLink">Your Ideas</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Ideas</a>
                                <a href="#" class="dropdown-item">Add</a>
                            </div>
                        </li> {% endcomment %}
                        {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'polls:login' %}" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'polls:register' %}" class="nav-link">Register</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'polls:logout' %}" class="nav-link">Logout {{user.get_username}}</a>
                            </li>
                        {% endif %}
                        
                        
                        
                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="container">
    {% block content %}{% endblock %}


  <!-- Library file -->
  {% comment %} <script src="lib/patchScriptUI.js"></script> {% endcomment %}
  <!-- End Framework files -->
  <script src="{% static 'polls/scripts/libs/patchScriptUI.js' %}"></script>
  <!-- Supplemental Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- End supplemental scripts -->
  {% block scripts %} {% endblock %}



  <!-- Our 'user' code -->
  {% comment %} <script type="module" src="index.js"></script> {% endcomment %}
</body>
</html>