{% comment %} {% if question and question.choice_set.all.count() > 0 %} {% endcomment %}
{% comment %} {% if question and question.choice_set.all.count > 0 %}
    <h1>"{{ question.question_text }}"</h1>

    <!-- choice list -->
    {% for choice in question.choice_set.all %}
        <label for="{{ choice.choice_text }}">{{ choice.choice_text }} | {{ choice.votes }}</label>
        
        <input type="radio" name="choice" value="{{ choice.choice_text }}"/>
        <br/>
        
    {% endfor %}

    
{% else %}
    <p>No polls are available</p>
{% endif %} {% endcomment %}


<h1>{{ question.question_text }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>