{% extends "polls/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">    
{% endblock %}

{% block content %}
    <div class="jumbotron" id="heroImage">
        <h1 id="heroHeader">Smoking_Cessation</h1>
        <p class="lead" id="heroText">A dashboard tool to analyze smoking data with assistance from state of the art machine learning models!</p>
    </div>

      <div class="row">
        <!-- Component Placeholders that won't get rendered to the page unless you 
             attach a component to them -->

      </div>
    </main><!-- /.container -->
{% endblock %}






{% comment %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p>
{% endif %} {% endcomment %}